body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

@font-face {
  font-family: Staatliches-Regular;
  src: url('../font/Staatliches/Staatliches-Regular.ttf');
}
a{
    text-decoration: none;
    color: inherit;
}

#header-container{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: rgb(255,255,255,0.2);
    border-bottom: 1px solid rgb(235,232,226,0.2);
    font-family: monospace;
    z-index: 2;
    
}

#header-logo, #nav-container{
   position: absolute;
   top:50%;
   transform: translateY(-50%);
}

#header-logo{
    width: 20%;
    left: 5%;
   
}
#nav-container{
    right: 5%;
    width: 70%;
}
#nav-container ul{
    text-align: right;
}
#nav-container ul li{
    display: inline-block;
    /* margin: 0px 10px 0px 10px; */
    padding: 10px;
    color: #ffffff; 
}
#nav-container ul li.reservation{
    border: 1px solid #ffffff;
}

#header-logo img{
    width: 100%;
}

#banner-container{
    width: 100%;
    height: 500px;
    background: url("foot18") no-repeat center center;
    background-size: 100% auto;
    font-family: sans-serif;
}

#nav-container ul li.active,#nav-container ul li:hover{
    border-bottom: 1px solid #ffffff;
}

.scroll-up-header{
    background-color: rgb(255,255,255,0.2) !important;

    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
}


.scroll-down-header{
    background-color: rgb(255,255,255,1) !important;

    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
  
}
.scroll-down-header #nav-container ul li{
    color: #9C9288
}
.scroll-down-header #nav-container ul li.active, .scroll-down-header #nav-container ul li:hover{
    border-bottom: 1px solid #9C9288;
}
.scroll-down-header #nav-container ul li.reservation{
    border: 1px solid #9C9288;
}

@media only screen and (max-width: 767px) {
    #banner-container{
        background-size: auto 100%;
    }
    #header-container{
        position: relative;
      
    }
    #header-logo, #nav-container{
        position: absolute;
        
    }

    #nav-container{
        /* width: auto; */
        border: 2px solid #9C9288;
        width: 40px;
        height: 40px;
    }

    #nav-container ul{
        display: none;
        background-color: #342f29;
        /* transform: translateY(50%); */
        text-align: left;
        padding-inline-start: 0px;

        position: absolute;
        right: -2px;
        top: 20px;
    }

    #nav-container:hover ul{
        display: inherit;
    }

    #nav-container ul li.active,#nav-container ul li:hover,#nav-container ul li.reservation{
        border: none;
    }
    #nav-container ul li{
    /* color: #000000; */
    display: inherit;
    }
    #nav-container ul li.reservation b{
    padding: 3px;
    border:1px solid #ffffff;
    }

    #nav-container ul li:hover{
    background-color: #9C9288;
    }

}

#banner-container > div{
    position: relative;
    width: 100%;
    height: 100%;
}
#banner-container > div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Staatliches-Regular;
    color:red;
    font-size: 150%;
    
}

.space-above{
    margin-top: 40px;
}

.image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.width-80-percents{
    width: 80%;
}
.text{
    color: black;
    text-align: left;
    font-family: monospace;
    padding-left: 30px;
    
}

.full-bgimg-content{
    width: 100%;
    height: 500px;
    background: url("imge2ed.jpg") no-repeat center center;
    position: relative;
    
}

.full-bgimg-content div{
    
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(80%);
    font-family:Staatliches-Regular;
    color:red;
    
}

.text-to-right{
    text-align: right;
    font-family:Staatliches-Regular;
    color: white;
}
    
.text-to-left {
    text-align: left;
    font-family:Staatliches-Regular;
    color: white;

}
.remove-line-height{
    line-height: 0px;
}
    
footer div{
 background-color:#181818;
}

.beforefooter{
    text-align: center;
    font-family: monospace;
    background-color:#282828;
    color: white;
    padding-top: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.relative-container{

    position:   relative;

}
    
.relative-container-child{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%);

}
@media only screen and (max-width: 767px) {

    .relative-container-child{

        transform: translateY(0%);
        position: static;

    }

}

.address-container h1{
    text-align: center;
    font-family: monospace;
}
.address-container p{
    text-align: center;
    font-family: monospace;
}

.contact-form-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: monospace;
   
}

.contact-form-container > div{
  margin: 20px;
  width: 450px;

}

.contact-form-container > div:first-child{

}

.contact-form-container > div:last-child{

}

.contact-form-container > div:last-child #contact-form {
    /* background: red; */
}

.contact-form-container > div:last-child #contact-form div label{
    display: inline-block;
    width: 80px;
}

.contact-form-container > div:last-child #contact-form div textarea{
    margin-left:80px;
}

.contact-form-container > div:last-child #contact-form div button{
    margin-left:120px;
}




